
/*   Creator: Anthony Forte & Daniel Diaz
	 Class: CIS-131-W01-18FA
	 Project: Team Case Study
	 Date: 8/22/2018
*/

/* html/body */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 40%;
  margin: 0 auto;
  padding-top: 45px;
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
} 

/* Site typography */

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

p, input, li {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

a:link {
    color: white;
}

a:visited {
    color: #A9A9A9;
}

a:hover {
    color: #E55B7D;
}

a:active {
    color: #7F1A35
} 
	
.pinktxt {
	color: #E55B7D;
	font-weight: bold;
}

.txtaligncenter {
	text-align: center;
}

.txtalignlft {
	text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 5px 0;
	border-radius: 15px;
}

/* header layout */

nav, article, footer {
  background-color: white;
  padding: 1%;
  border: 1px solid black;
  border-radius: 15px;
}

nav {
  height: 45px;
  background-color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

nav ul {
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 5%;
  padding-left: 30px;
}

nav a {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}


/* main content */

article {
  padding: 50px;
}

footer {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #000000;
}

#footertxt {
	text-align: center;
	font-size: 1.4rem;
	color: white;
}

.imgright {
	float: right;
    overflow: auto;
	width: 40%;
	margin: 2%;
	padding: 5px;
	border: 1px dotted #AA1A1A;
}

.imgleft {
	float: left;
	width: 40%;
	margin: 2%;
	padding: 5px;
	border: 1px dotted #AA1A1A;
}

#titleimage {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #000000;
}
